@import './../../utils/variables';
@import './../../utils/mixins';

.container {
  display: none;
  position: relative;
  align-items: center;
  height: 48px;
  border-left: 1px solid $border-color;

  // @include on-tablet {
  //   display: flex;
  // }

  @include on-desktop {
    display: flex;
    height: 64px;
  }
}

.flag {
  position: absolute;
  right: 21px;
  height: 26px;
  width: 28px;
  border-radius: 50%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  transition: transform 0.3s ease;

  // @include on-desktop {
  //   height: 26px;
  //   width: 28px;
  // }
}

.en {
  background-image: url('images/eng.png');
}

.ua {
  background-image: url('images/ua.webp');
}

.not-active {
  right: 60px;
}

.active {
  z-index: 2;
  transform: scale(1.05) !important;
}
