/* #region header */

$header-bg-color: #fff;
$header-item-text-color: #89933A;
$header-active-item-text-color: #0F0F11;
$border-color: #E2E6E9;

/* #endregion */

/* region body */

$body-bg-color: #fafbfc;

/* #endregion */